# Source
src

# Tests
__integration_tests__
__plugin_tests_cjs__
__plugin_tests_esm__
__unit_tests__
jest.*.js

# Building
rollup.config.js
tsconfig.json

# Misc
.gitignore
.github
.prettierrc
eslint.config.js
